body {
  background-color: #0ABAB5;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width; 40%;
}

h1 {
  text-align: center;
  font-style: italic;
  font-weight: 200; 
  font-size: 68px; 
}


p {
  text-align: center;
  font-size: 28px; 
}

input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width; 40%;
}
